{% extends "common/base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load common.crispy_forms %}
{% load common.dynamic_formset %}
{% load common.chosen %}

{% block content %}
    <div class="page-header"><h1>{% trans 'Edit project' %}</h1></div>

    <form method="post">
        {% crispy form %}
        <fieldset>
            <legend>{% trans 'Customer Groups' %}</legend>
            {% dynformset 'formset' formset %}
                {# Headers for crispy forms rendered fields. #}
                <div class="row voffset3">
                    <label class="col-lg-4 control-label requiredField">
                        {{ formset.empty_form.name.label }}
                    </label>
                    <label class="col-lg-7 control-label requiredField">
                        {{ formset.empty_form.customers.label }}
                    </label>
                </div>
                {% dynformset_body formset %}
                {% dynformset_add_button %}
                {% include 'common/submit-button.html' %}
            {% enddynformset %}
        </fieldset>
    </form>

    {% datetime_picker form.start_date %}
    {% dynformset_apply '#formset' %}
    {% chosen_multiselect_apply '#formset' %}

    <script>
        $(function () {
            var selectableArticles = [{% for article in articles %}{
                value: {{ article.pk }},
                text: "{{ article.name }}"
            }{% if not forloop.last %}, {% endif %}{% endfor %}
            ];

            var selectableCustomers = [{% for customer in customers %}{
                value: {{ customer.pk }},
                text: "{{ customer }}"
            }{% if not forloop.last %}, {% endif %}{% endfor %}];

            $('.article-name').selectize({
                plugins: ['remove_button'],
                options: selectableArticles
            });

        });
    </script>

{% endblock content %}
