{% extends "common/base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load common.crispy_forms %}
{% load common.dynamic_formset %}

{% block head-content %}
    <link rel="stylesheet" href="{% static 'chosen/chosen.css' %}"/>
    <link rel="stylesheet" href="{% static 'common/chosen-bootstrap.css' %}"/>
{% endblock head-content %}

{% block content %}
    <div class="page-header"><h1>{% trans 'Edit project' %}</h1></div>

    <form method="post">
        {% crispy form %}
        {% dynformset 'formset' formset %}
            {# Headers for crispy forms rendered fields. #}
            <div class="row voffset3">
                <label class="col-lg-4 control-label requiredField">
                    {% trans 'Customer Groups' %}
                </label>
                <label class="col-lg-7 control-label requiredField">
                    {{ formset.empty_form.customers.label }}
                </label>
            </div>
            {% dynformset_body formset %}
            {% dynformset_add_button %}
            {% include 'common/submit-button.html' %}
        {% enddynformset %}
    </form>

    {% dynformset_apply '#formset' %}
    {% datetime_picker form.start_date %}

    <script src="{% static 'chosen/chosen.jquery.js' %}"></script>
    <script>
        var chosenOptions = {
            no_results_text: "{% trans 'No results matching' %}",
            placeholder_text_single: "{% trans 'Start typing...' %}",
            placeholder_text_multiple: "{% trans 'Start typing...' %}"
        };
        $(".chosen").chosen({no_result_text: "{% trans 'Keine Ergebnisse für' %}"});
        $('#formset').on('formAdded', function (event) {
            var newForm = event.target;
            $(newForm).find(".chosen").chosen(chosenOptions);
        });
    </script>

{% endblock content %}
