{% extends "common/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load common.crispy_forms %}

{% block content %}
    <div class="page-header"><h1>{% trans 'Edit invoice' %}</h1></div>

    <form method="post">
        {% crispy form %}
        <fieldset>
            <legend>
                {% trans 'Customer' %}
                <a data-toggle="popover"
                   data-content="{% blocktrans %}Modifications to customer data like name or address
                   are effective within the context of this invoice only. If you want to
                   change a customer permanently, do this via the customer menu.{% endblocktrans %}">
                    <span class="glyphicon glyphicon-info-sign icon-small icon-raised">
                    </span>
                </a>

            </legend>
            {% crispy invoiced_customer_form %}
        </fieldset>
        {% include 'invoices/invoiced_articles_fieldset.html' %}

        <div class="row form-group voffset3">
            <div class="col-lg-offset-10 col-lg-2 text-right">
                <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
            </div>
        </div>

    </form>

    {% datetime_picker form.date_created %}
    {% datetime_picker form.date_paid %}
    {% datetime_picker form.date_taxes_filed %}

    <script>
        var selectableRebates = [{% for rebate in rebates %}{
            pk: {{ rebate.pk }},
            name: "{{ rebate|escapejs }}"
        }{% if not forloop.last %}, {% endif %}{% endfor %}
        ];

        $(function () {
            $("input.rebates")
                .selectize({
                    plugins: ["remove_button"],
                    options: selectableRebates,
                    labelField: "name",
                    searchField: ["name"],
                    valueField: "pk"
                });
        });
    </script>

{% endblock content %}
