{% extends "common/base.html" %}

{% load i18n %}
{% load common.search %}
{% load django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="page-header"><h1>{% trans 'Invoices' %}</h1></div>

    <div class="row">
        <div class="col-lg-4">
            {% search_form %}
        </div>
    </div>

    <form id="invoices-form" method="post">
        {% crispy form %}

        <div class="voffset3">
            {% render_table table %}
        </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="previewModal" tabindex="-1" role="dialog"
         aria-labelledby="previewModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="previewModalLabel">
                        {% trans 'Invoice modification' %}
                    </h4>
                </div>
                <div class="modal-body">
                    <p id="preview-headline">
                    </p>
                    <ul id="preview-list">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button id="preview-yes" type="button" class="btn btn-default"
                            data-dismiss="modal">
                        {% trans 'Yes' %}
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        {% trans 'No' %}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var previewButton = $("#preview");
        var previewHeader = $("#preview-headline");
        var previewInvoices = $("#preview-list");

        function setPreviewStates() {
            // preview button enabled or not:
            var optionValue = $("#id_action").find("option:selected").first().val();
            var numSelected = $("input:checked").length;
            var disabled = (numSelected < 1) || (optionValue === "");
            previewButton.prop("disabled", disabled);

            // preview dialog headline:
            if (!disabled) {
                var question = "{% trans 'Are you sure you want to' context 'confirm 1'%} ";
                switch (optionValue) {
                    case "PAY":
                        question += "{% trans 'mark the following' context 'confirm 2 pay' %}";
                        question += " " + numSelected + " ";
                        question += "{% trans 'invoices as paid?' context 'confirm 3 pay' %}";
                        break;
                    case "TAX":
                        question += "{% trans 'file taxes for the following' context 'confirm 2 tax' %}";
                        question += " " + numSelected + " ";
                        question += "{% trans 'invoices?' context 'confirm 3 tax' %}";
                        break;
                    case "DELETE":
                        question += "{% trans 'delete the following' context 'confirm 2 del' %}";
                        question += " " + numSelected + " ";
                        question += "{% trans 'invoices?' context 'confirm 3 del' %}";
                        break;
                }
                previewHeader.text(question);
            }
        }

        $("#id_action").change(setPreviewStates);
        $("#id-select-all").click(function () {
            // copy "all" checkbox state:
            var checked = $(this).prop("checked");
            $("tr td input").each(function () {
                $(this).prop("checked", checked);
            });
            setPreviewStates();
        });

        // hook up event for checkbox clicks and change their names to unique:
        var i = 0;
        $("tr td input").each(function () {
            var input = $(this);
            input.click(setPreviewStates);
            input.attr("name", "selected_" + i++);
        });

        // hook up update of invoice list after preview button was clicked:
        previewButton.click(function () {
            previewInvoices.empty();
            $("tr td input:checked").each(function () {
                var row = $(this).parent().parent();
                var number = row.find(".number").first().text();
                var name = row.find(".invoiced_customer").first().text();
                var total = row.find(".total").first().text();
                previewInvoices.append("<li>" + number + ', ' + name + ", " + total + "</li>");
            });
        });

        $("#preview-yes").click(function () {
            $("#invoices-form").submit();
        });
    </script>
{% endblock content %}
