Django
django-crispy-forms  # HTML rendering and layout of forms and formsets
-e git+git@bitbucket.org:mpagel/django-formset-js.git@985e2487581b492faccac820fecc6de432081235#egg=django_formset_js  # Client-side adding and deleting of formset rows
django-tables2       # HTML rendering and layout of table views, sortable, pagination
PyPDF2				 # PDF file merging (multiple invoices in one PDF)
reportlab            # PDF file creation

# production server
gunicorn			 # wsgi application server
whitenoise			 # static files server via gunicorn

# test infrastructure
pytest
pytest-django
