attrs==17.3.0
colorama==0.3.9
Django==2.0
django-crispy-forms==1.7.0
-e git+https://mpagel@bitbucket.org/mpagel/django-formset-js.git@985e2487581b492faccac820fecc6de432081235#egg=django_formset_js
django-jquery-js==3.1.1
django-money==0.12.3
django-tables2==1.17.0
gunicorn==19.7.1
Markdown==2.6.10
olefile==0.44
Pillow==4.3.0
pluggy==0.6.0
py==1.5.2
py-moneyed==0.7.0
PyPDF2==1.26.0
pytest==3.3.1
pytest-django==3.1.2
pytz==2017.3
reportlab==3.4.0
six==1.11.0
whitenoise==3.3.1
XlsxWriter==1.0.2
