atomicwrites==1.2.1
attrs==18.2.0
colorama==0.4.1
Django==2.1.3
django-crispy-forms==1.7.2
-e git+https://mpagel@bitbucket.org/mpagel/django-formset-js.git@985e2487581b492faccac820fecc6de432081235#egg=django_formset_js
django-jquery-js==3.1.1
django-money==0.14.3
django-tables2==2.0.3
gunicorn==19.9.0
Markdown==3.0.1
more-itertools==4.3.0
Pillow==5.3.0
pluggy==0.8.0
py==1.7.0
py-moneyed==0.8.0
PyPDF2==1.26.0
pytest==4.0.1
pytest-django==3.4.4
pytz==2018.7
reportlab==3.5.11
six==1.11.0
whitenoise==4.1.2
XlsxWriter==1.1.2
