{% extends "common/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="page-header"><h1>{% trans 'Edit customer' %}</h1></div>

    {% if form.duplicates %}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <strong>
                    {% blocktrans %}
                        The entered name already exists.
                    {% endblocktrans %}
                </strong>
            </div>
            <div class="panel-body">
                <p>
                    {% blocktrans %}
                        The following customers have the same name:
                    {% endblocktrans %}

                </p>
                <ul>
                    {% for duplicate in form.duplicates %}
                        <li><a href="{% url 'customers:update' duplicate.pk %}">{{ duplicate }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <p>
                    {% blocktrans %}
                        Please change last name or first name or check the box to confirm the
                        currently chosen name.
                    {% endblocktrans %}

                </p>
            </div>
        </div>
    {% endif %}

    {% crispy form %}

{% endblock content %}
