{% load i18n %}

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'common:index' %}">Bizwiz</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav" data-sm-options="{showOnClick:true}">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        {% trans 'Invoices' %} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'invoices:create' %}">{% trans 'New' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'invoices:list' %}">{% trans 'Browse' %}</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'invoices:list_payable' %}">{% trans 'Payment pending' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'invoices:list_taxable' %}">{% trans 'Taxes pending' %}</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'rebates:update' %}">{% trans 'Rebates' %}</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        {% trans 'Articles' %} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'articles:create' %}">{% trans 'New' %}</a></li>
                        <li><a href="{% url 'articles:list_active' %}">{% trans 'Browse' %}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        {% trans 'Customers' %} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'customers:create' %}">{% trans 'New' %}</a></li>
                        <li><a href="{% url 'customers:list' %}">{% trans 'Browse' %}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        {% trans 'Projects' %} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'projects:create' %}">{% trans 'New' %}</a></li>
                        <li><a href="{% url 'projects:list' %}">{% trans 'Browse' %}</a></li>
                        <li class="divider"></li>
                        <li class="{{ user.is_authenticated|yesno:',disabled' }}">
                            <a href="#">{% trans 'Activate filter' %} <span
                                    class="caret"></span></a>
                            {% if user.is_authenticated and projects %}
                                <ul class="dropdown-menu">
                                    {% for project in projects %}
                                        <li>
                                            <a href="{% url 'common:session-filter' %}?&next={{ request.get_full_path|urlencode }}&project={{ project.pk }}">
                                                {{ project.name }}
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                {% for group in project.customergroup_set.all|dictsort:'name' %}
                                                    <li>
                                                        <a href="{% url 'common:session-filter' %}?&next={{ request.get_full_path|urlencode }}&group={{ group.pk }}">
                                                            {{ group.name }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" data-sm-options="{showOnClick:true}">
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span> 
                            {{ user }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="navbar-login">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="text-center">
                                                <span class="glyphicon glyphicon-user icon-big"></span>
                                            </p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p class="text-left">
                                                <strong>{{ user.get_full_name }}</strong></p>
                                            <p class="text-left small">{{ user.email }}</p>
                                            <!--<p class="text-left">
                                                <a href="#" class="btn btn-primary btn-block btn-sm">Actualizar
                                                    Datos</a>
                                            </p>-->
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="row">
                                    <div class="col-lg-offset-1 col-lg-10">
                                        <p>
                                            <a href="{% url 'accounts:logout' %}#"
                                               class="btn btn-primary btn-block">{% trans 'Logout' %}</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="{% if 'login' in request.path %}active{% endif %}">
                        <a href="{% url 'accounts:login' %}">
                            <span class="glyphicon glyphicon-user"></span> 
                            <strong>{% trans 'Login' %}</strong>
                        </a>
                    </li>
                {% endif %}
            </ul>

            {% if session_filter_label %}
                <ul class="nav navbar-nav navbar-right" data-sm-skip="true">
                    <li>
                        <p class="navbar-text">
                    <span class="badge">{{ session_filter_label }}
                        <a href="{% url 'common:session-filter' %}?&next={{ request.get_full_path|urlencode }}"
                           class="navbar-link">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </span>
                        </p>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
