{% load i18n %}

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'common:index' %}">Bizwiz</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        {% trans 'Articles' %} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">{% trans 'New' %}</a></li>
                        <li><a href="{% url 'articles:list_active' %}">{% trans 'Browse' %}</a></li>
                    </ul>
                </li>
                <li class="{% if 'overview' in request.path %}active{% endif %}">
                    <a href="{% comment %}{% url 'invoice:overview' %}{% endcomment %}#">{% trans 'Invoices' %}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span> 
                            <strong>{{ user }}</strong>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="navbar-login">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="text-center">
                                                <span class="glyphicon glyphicon-user icon-big"></span>
                                            </p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p class="text-left">
                                                <strong>{{ user.get_full_name }}</strong></p>
                                            <p class="text-left small">{{ user.email }}</p>
                                            <!--<p class="text-left">
                                                <a href="#" class="btn btn-primary btn-block btn-sm">Actualizar
                                                    Datos</a>
                                            </p>-->
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="navbar-login">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p>
                                                <a href="{% url 'accounts:logout' %}#"
                                                   class="btn btn-primary btn-block">{% trans 'Logout' %}</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="{% if 'login' in request.path %}active{% endif %}">
                        <a href="{% url 'accounts:login' %}">
                            <span class="glyphicon glyphicon-user"></span> 
                            <strong>{% trans 'Login' %}</strong>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
