{# Partial template to add pagination links to a page, including optional sort order. #}
<div class="btn-group" role="group">
    {% if page_obj.has_previous %}
        <a class="btn btn-default"
           href="?page={{ page_obj.previous_page_number }}&order_by={{ order_by }}&order_dir={{ order_dir }}">«</a>
    {% endif %}
    {% for  page_num in paginator.page_range %}
        <a class="btn {% if page_num == page_obj.number %}btn-primary{% else %}btn-default{% endif %}"
           href="?page={{ page_num }}&order_by={{ order_by }}&order_dir={{ order_dir }}">{{ page_num }}</a>
    {% endfor %}
    {% if page_obj.has_next %}
        <a class="btn btn-default"
           href="?page={{ page_obj.next_page_number }}&order_by={{ order_by }}&order_dir={{ order_dir }}">»</a>
    {% endif %}
</div>
