{% extends "common/base.html" %}

{% load i18n %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>{% trans 'Welcome to Bizwiz 4' %}</h1>
        <p>
            {% blocktrans %}
                Bizwiz is a small and simple invoicing and customer management platform for the
                aspiring photographer.
            {% endblocktrans %}
        </p>
        <h2>{% trans 'Changelog' %}</h2>
        <p>{{ changelog | safe }}</p>
        <h2>{% trans 'Resources' %}</h2>
        <p>
            {% blocktrans %}
                Find the source code at
                <a href="https://github.com/moltob/pybizwiz">https://github.com/moltob/pybizwiz</a>
                or install the docker container from
                <a href="https://hub.docker.com/r/mpagel/bizwiz">https://hub.docker.com/r/mpagel/bizwiz</a>.
            {% endblocktrans %}
        </p>

    </div>
    <p class="small text-right">Version: {{ version }}</p>

{% endblock content %}
