{% extends "common/base.html" %}

{% load i18n %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>{% trans 'Welcome to Bizwiz 4' %}</h1>
        <p>
            {% blocktrans %}
                Bizwiz is a small and simple invoicing and customer management platform for the
                aspiring photographer.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}
                Your are currently using version {{ version }}.
            {% endblocktrans %}
        </p>
        <h2>{% trans 'News and Updates' %}</h2>
        <p>
            {% blocktrans %}
                2017-03-05 First usable feature set completed. Initial roll-out.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}
                2016-12-13 Development of Bizwiz 4 production implementation kicks off.
            {% endblocktrans %}
        </p>

    </div>

{% endblock content %}
