body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.asteriskField {
    display: none;
}

.navbar-login {
    width: 305px;
    padding: 10px 10px 0px 10px;
}

.icon-big {
    font-size: 87px;
}

.icon-small {
    font-size: 10px;
}

.icon-raised {
    position: relative;
    top: -10px;
}

.voffset {
    margin-top: 2px;
}

.voffset1 {
    margin-top: 5px;
}

.voffset2 {
    margin-top: 10px;
}

.voffset3 {
    margin-top: 15px;
}

.voffset4 {
    margin-top: 30px;
}

.voffset5 {
    margin-top: 40px;
}

.voffset6 {
    margin-top: 60px;
}

.voffset7 {
    margin-top: 80px;
}

.voffset8 {
    margin-top: 100px;
}

.voffset9 {
    margin-top: 150px;
}

.next-to-search-box {
    margin-top: -34px;
}

.currency-total {
    border-top: thin solid;
    border-bottom: double;
    text-align: right;
}