{% extends "common/base.html" %}

{% load i18n %}

{% block content %}
    <div class="page-header"><h1>{% trans 'Articles' %}</h1></div>

    <table class="table table-striped">
        <colgroup>
            <col style="width:75%">
            <col style="width:25%">
        </colgroup>
        <thead>
        <tr>
            <th>
                <a href="?order_by=name{% if order_by == 'name' and order_dir == 'asc' %}&order_dir=desc{% endif %}">
                    {% trans 'Invoice Text' %}
                </a>
                {% if order_by == 'name' %}
                    {% if order_dir == 'asc' %}
                        <span class="glyphicon glyphicon-triangle-top icon-small"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-triangle-bottom icon-small"></span>
                    {% endif %}
                {% endif %}
            </th>
            <th class="text-right">
                <a href="?order_by=price{% if order_by == 'price' and order_dir == 'asc' %}&order_dir=desc{% endif %}">
                    {% trans 'Unit Price' %}
                </a>
                {% if order_by == 'price' %}
                    {% if order_dir == 'asc' %}
                        <span class="glyphicon glyphicon-triangle-top icon-small"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-triangle-bottom icon-small"></span>
                    {% endif %}
                {% endif %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for article in article_list %}
            <tr>
                <td><a href="{% comment %}{% url 'invoice:update' invoice.pk %}{% endcomment %}#">
                    {% if article.inactive %}<s>{% endif %}
                    {{ article.name }}
                    {% if article.inactive %}</s>{% endif %}
                </a></td>
                <td class="text-right">{{ article.price }} &euro;</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav class="text-right">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}&order_by={{ order_by }}&order_dir={{ order_dir }}">«</a>
                </li>
            {% endif %}
            {% for  page_num in paginator.page_range %}
                <li {% if page_num == page_obj.number %}class="active"{% endif %}>
                    <a href="?page={{ page_num }}&order_by={{ order_by }}&order_dir={{ order_dir }}">{{ page_num }}</a>
                </li>
            {% endfor %}
            {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}&order_by={{ order_by }}&order_dir={{ order_dir }}">»</a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock content %}
