{% extends "common/base.html" %}

{% load i18n %}
{% load common.search %}
{% load django_tables2 %}

{% block content %}
    <div class="page-header">
        <h1>{% trans 'Articles' %}
            {% if show_inactive %}
                <a class="btn btn-default pull-right" href="{% url 'articles:list_active' %}"
                   role="button">
                    {% trans 'Hide inactive' %}
                </a>
            {% else %}
                <a class="btn btn-default pull-right" href="{% url 'articles:list' %}"
                   role="button">
                    {% trans 'Show inactive' %} <span class="badge">{{ count_inactive }}</span>
                </a>
            {% endif %}
        </h1>
    </div>

    <div class="row">
        <div class="col-lg-4">
            {% search_form %}
        </div>
    </div>

    <div class="voffset3">
        {% render_table table %}
    </div>

{% endblock content %}
