{% extends "common/base.html" %}

{% load i18n %}
{% load common.pagination %}

{% block content %}
    <div class="page-header"><h1>{% trans 'Articles' %}</h1></div>

    <table class="table table-striped">
        <colgroup>
            <col style="width:75%">
            <col style="width:25%">
        </colgroup>
        <thead>
        <tr>
            <th>
                {% ordering_link _("Invoice text") 'name' order_by order_dir %}
            </th>
            <th class="text-right">
                {% ordering_link _("Unit price") 'price' order_by order_dir %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for article in article_list %}
            <tr>
                <td><a href="{% url 'articles:update' article.pk %}">
                    {% if article.inactive %}<s>{% endif %}
                    {{ article.name }}
                    {% if article.inactive %}</s>{% endif %}
                </a></td>
                <td class="text-right">{{ article.price }} &euro;</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-right">
        {% if show_inactive %}
            <a class="btn btn-default" href="{% url 'articles:list' %}" role="button">
                {% trans 'Hide inactive' %}
            </a>
        {% else %}
            <a class="btn btn-default" href="{% url 'articles:list_with_inactive' %}"
               role="button">
                {% trans 'Show inactive' %}
            </a>
        {% endif %}
        {% include 'common/pagination-bar.html' %}
    </div>

{% endblock content %}
