{% extends "common/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load common.dynamic_formset %}

{% block content %}
    <div class="page-header"><h1>{% trans 'Create articles' %}</h1></div>

    <form method="post">
        {% dynformset 'formset' formset %}
            {# Headers for crispy forms rendered fields. #}
            <div class="row">
                <label class="col-lg-9 control-label requiredField">
                    {{ formset.empty_form.name.label }}
                </label>
                <label class="col-lg-2 control-label requiredField">
                    {{ formset.empty_form.price.label }}
                </label>
            </div>
            {% dynformset_body formset %}
            {% dynformset_add_button %}
            {% include 'common/submit-button.html' %}
        {% enddynformset %}
        {% crispy form %}
    </form>

    {% dynformset_apply '#formset' %}
{% endblock content %}
